In [2]:
import argparse, os, sys
from time import time
import pandas as pd 
from sqlalchemy import create_engine

In [8]:
def moveDataToDatabase(params):
    user = params.user
    password = params.password
    host = params.host
    port = params.port
    db = params.db
    tb = params.tb
    
    # Get the name of the file from url
    # file_name = url.rsplit('/', 1)[-1].strip()
    file_name = 'E:\Downloads\green_tripdata_2019-10.csv\green_tripdata_2019-10.csv'
    # print(f'Downloading {file_name} ...')
    # Download file from url
    # os.system(f'curl {url.strip()} -o {file_name}')
    print('\n')

    # Create SQL engine
    engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

    # Read file based on csv or parquet
    if '.csv' in file_name:
        df = pd.read_csv(file_name, nrows=10)
        df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)
    elif '.parquet' in file_name:
        file = pq.ParquetFile(file_name)
        df = next(file.iter_batches(batch_size=10)).to_pandas()
        df_iter = file.iter_batches(batch_size=100000)
    else: 
        print('Error. Only .csv or .parquet files allowed.')
        sys.exit()


    # Create the table
    df.head(0).to_sql(name=tb, con=engine, if_exists='replace')


    # Insert values
    t_start = time()
    count = 0
    for batch in df_iter:
        count+=1

        if '.parquet' in file_name:
            batch_df = batch.to_pandas()
        else:
            batch_df = batch

        print(f'inserting batch {count}...')

        b_start = time()
        batch_df.to_sql(name=tb, con=engine, if_exists='append')
        b_end = time()

        print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
        
    t_end = time()   
    print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

In [18]:
from collections import namedtuple

Args = namedtuple('Args', ['user', 'password', 'host', 'port', 'db', 'tb'])

args = Args(user = 'postgres', password = 'postgres', host = 'localhost', port = '5433', db = 'ny_taxi', tb = 'yellow_taxi_trips')


moveDataToDatabase(args)

inserting batch 1...
inserted! time taken     11.590 seconds.

inserting batch 2...
inserted! time taken      8.249 seconds.

inserting batch 3...
inserted! time taken      8.097 seconds.

C:\Users\Infra\AppData\Local\Temp\ipykernel_12616\336897551.py:40: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for batch in df_iter:

inserting batch 4...
inserted! time taken      8.478 seconds.

inserting batch 5...
inserted! time taken      5.817 seconds.

Completed! Total time taken was     44.164 seconds for 5 batches.

In [17]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')
engine.connect()

df_zones = pd.read_csv(r"E:\Downloads\taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265